* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

/*SCROLL*/

.hidden {
  opacity: 0;
  filter: blur(12px);
  transform: translateX(-100%);
  transition: all 1s;

}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;

}

/*SCROLL index*/
.slide-container :nth-child(2) {
  transition-delay: 1000ms;
}

.hidden-cards :nth-child(2) {
  transition-delay: 400ms;
}

.hidden-cards:nth-child(3) {
  transition-delay: 600ms;
}

.hidden-cards :nth-child(4) {
  transition-delay: 800ms;
}

.hidden-cards :nth-child(5) {
  transition-delay: 1000ms;
}

.hidden-cards :nth-child(6) {
  transition-delay: 1200ms;
}

/*SCROLL Sobre*/
.hidden-contato :nth-child(2) {
  transition-delay: 200ms;
}

.hidden-contato :nth-child(3) {
  transition-delay: 400ms;
}

/*SCROLL Serviços*/
.servicos-section :nth-child(2) {
  transition-delay: 200ms;
}

.servicos-section :nth-child(3) {
  transition-delay: 400ms;
}

.servicos-section :nth-child(4) {
  transition-delay: 600ms;
}

.servicos-section :nth-child(5) {
  transition-delay: 800ms;
}




/* BUTTON NAVEGAÇAO MENU */
.navbar-toggler {
  background-color: #ff7f50;
}


/* BARRA HEADER */
.nav {
  background-color: white;
  font-weight: 600;
}

.logo {
  width: 120%;
  height: 100px;
}


.navbar .navbar-nav .nav-link.custom-link {
  color: #91A93F;
  transition: color 0.3s;
}

.navbar .navbar-nav .nav-link.custom-link:hover {
  color: #ff7f50;
}



/* PRIMEIRA SEÇAO SLIDE DE IMAGENS */
#slide {
  position: relative;
  height: 900px;
  overflow: hidden;
}

.slide-container {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease;
  position: relative;
}

.slide-item {
  position: relative;
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: right;
  display: flex;
  align-items: center;
}

.slide-item img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.slide-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.slide-content h1 {
  font-size: 3rem;
  margin-bottom: 50px;
  color: #323d0e;
  font-weight: 900;
  font-family: cursive;
}

.slide-content p {

  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 700;
}

.slide-content button {
  background-color: #91A93F;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  transition: background-color 0.3s, color 0.3s;
}

.slide-content button:hover {
  background-color: #EF8743;
  color: #fff;
  border: 2px solid #fff;
}

.slide-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 45, 1, 0.5);
}

/* ESTILO PARA METAS */
#metas {
  margin-bottom: 10rem;
}

.container h1 {
  margin-top: 2rem;
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: #ff6347;
  font-weight: 900;
}

.row {
  row-gap: 25px;
}

.card {
  border-radius: 20%;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  height: 400px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(145, 168, 46, 0.3);
}

.color-card1 {
  border-color: #ff6347;
}

.color-card2 {
  border-color: #87a819;
}

.color-card3 {
  border-color: #ff6347;
}

.color-card4 {
  border-color: #87a819;
}

.color-card5 {
  border-color: #ff6347;
}

.color-card6 {
  border-color: #87a819;
}

.card img {
  width: 50%;
  margin: auto;

}

.card-title {
  text-align: center;
  color: #A1B556;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: cursive;
}

.card-text {
  text-align: center;
  color: #999999;
  letter-spacing: 1px;


}

/*FRASE*/
#artigo {
  position: relative;
  height: 300px;
  background-image: url('Imagens/copo-de-suco.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #323d0e;
  padding: 50px;
  box-sizing: border-box;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blinking-text {
  animation: blink 1s infinite;
}


#artigo h1 {
  font-size: 200%;
  margin-top: 20px;
  font-weight: 800;
  letter-spacing: 2px;
  font-family: cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

}

#artigo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(145, 163, 63, 0.5);
}

/*CONTATO*/

.contato-container {
  margin-bottom: 5rem;

}

#contato input {
  border-bottom: 2px solid #87a819;
  background-color: #EDEDED;
  border-radius: 5px;
  margin-bottom: 2rem;
  outline: none;
  max-width: 400px;
  color: #87a819;

}

#contato input:focus {
  border-color: #EF8743;
  box-shadow: 0 0 5px #EF8743;
}

/*ENDEREÇO DE CONTATO*/


.container h2 {
  margin-top: 20px;
  font-weight: 800;
  letter-spacing: 2px;
  font-family: cursive;
  color: #87a819;
  margin-bottom: 2rem;

}

.icons a {
  color: #ff6347;
}

.contact-info {
  list-style: none;
  padding: 0;
  color: #ff6347;
}

.contact-info li {
  margin-bottom: 15px;
}

.contact-info li i {
  margin-right: 10px;

}


.map {
  margin-top: 20px;
  margin-bottom: 20px;


}

iframe {
  width: 100%;
  height: 100px;
  border: 1px solid #ff6347;
}

/*FOOTER*/

.logo-footer {
  width: 30%;

}


footer {
  background-color: #9fb557;
  color: #fff;
  padding: 20px 0;
  text-align: center;

}

footer img {
  width: 300px;
  margin-bottom: 10px;
}

.footer-description {
  font-size: 14px;
  margin-bottom: 20px;
}

.footer-menu {
  margin-bottom: 20px;
}

.footer-menu a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

a {
  color: #fff;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.social-icons {
  margin-bottom: 20px;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #ff6347;

}

.copyright {
  font-size: 12px;
}

/* Estilos gerais */

.navbar-nav .nav-link {
  color: #333;
}

.navbar-nav .nav-link:hover {
  color: #ff7f50;
}

.btn-primary {
  background-color: #ff7f50;
  border-color: #ff7f50;
}

.btn-primary:hover {
  background-color: #ff6347;
  border-color: #ff6347;
}

/*ESTILO DO INDEX SOBRE*/

.navbar {
  border-bottom: 2px solid #87a819;
}

.container-sobre {
  margin-top: 80px;
  margin-bottom: 80px;

}

.about-me-section {
  text-align: center;
  margin-bottom: 50px;
}

.about-me-section h2 {
  margin-top: 10px;
  margin-top: 20px;
  font-weight: 800;
  letter-spacing: 2px;
  font-family: cursive;
  color: #87a819;
  margin-bottom: 2rem;
}

.about-me-section p {
  max-width: 600px;
  margin: 0 auto;
  letter-spacing: 2px;
  color: #ff6347;


}

.about-me-image {
  margin-top: 125px;
  width: 300px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 25px rgba(135, 168, 25, 0.3);
  border-radius: 40%;
}



.specialties-section {
  text-align: center;
}

.specialties-section h2 {
  font-weight: 800;
  letter-spacing: 2px;
  font-family: cursive;
  color: #87a819;
  margin-bottom: 2rem;
}

.specialties-list {
  list-style: none;
  padding: 0;
  letter-spacing: 2px;
  color: #ff6347;
}

.specialties-list li {
  margin-bottom: 10px;
}

/*ESTILO PARA SERVIÇOS*/

.container-serviços {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.servicos-section h1 {
  text-align: center;
  padding: 50px;
  margin-top: 20px;
  font-weight: 800;
  letter-spacing: 2px;
  font-family: cursive;
  color: #87a819;
  margin-bottom: 2rem;

}

.servicos-content h2 {
  font-weight: 800;
  font-family: cursive;
  color: #ff6347;
  margin-bottom: 1rem;
}

.servicos-content p {
  color: #EF8743;
  font-weight: 600;
  font-size: 18px;
}

.servicos-content li {
  color: #999999;
  letter-spacing: 2px;
  font-size: 18px;

}

ul {
  padding-left: 35px;
}

.consulta-individual-content h1 {
  font-weight: 800;
  font-family: cursive;
  color: #ff6347;
  margin-bottom: 1rem;
}

.consulta-individual-content p {
  color: #999999;
  letter-spacing: 2px;
  font-size: 18px;
}

.qualidade-de-vida-section h1 {
  font-weight: 800;
  font-family: cursive;
  color: #ff6347;
  text-align: center;
  margin-bottom: 5rem;

}

.qualidade-de-vida-content h2 {

  color: #EF8743;
  font-weight: 600;
  font-size: 25px;

}


.qualidade-de-vida-content p {
  color: #999999;
  letter-spacing: 2px;
  font-size: 18px;
}

.qualidade-de-vida-image img {
  margin-top: 2rem;


}

.culinaria-image img {
  margin-top: 2rem;
}

.servicos-section, .consulta-individual-section, .qualidade-de-vida-section {
  margin-top: 120px;
}

.servicos-content, .consulta-individual-content, .qualidade-de-vida-content {
  padding-right: 20px;
}

.servicos-image img, .consulta-individual-image img, .qualidade-de-vida-image img,
.acompanhamento-nutri-image img, .culinaria-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 2px 20px 30px rgba(135, 168, 25, 0.6);

}

/*ESTILO CSS FALE COMIGO*/

.fale-caixa {
  padding: 40px;
  border-radius: 5px;
  box-shadow: 2px 20px 30px rgba(135, 168, 25, 0.6);
  background-color: rgba(255, 163, 63, 0.1);

}

.container-fale {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;



}

.container-fale h1 {
  text-align: center;
  padding: 50px;
  font-weight: 800;
  letter-spacing: 2px;
  font-family: cursive;
  color: #87a819;

}

.container-fale h2 {
  font-weight: 800;
  font-family: cursive;
  color: #ff6347;
  text-align: center;
}

label {
  color: #EF8743;
  font-family: cursive;
  font-size: 18px;
}

#fale-comigo, #contato {
  margin-top: 100px;
}

#fale-comigo form {
  text-align: left;
}

#fale-comigo .form-group {
  margin-bottom: 20px;
}

#fale-comigo label {
  display: block;
  margin-bottom: 5px;
}

#fale-comigo input[type="text"],
#fale-comigo input[type="email"],
#fale-comigo input[type="tel"],
#fale-comigo textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #EF8743;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  margin-top: 5px;
  outline: none;
}

input:focus {
  border-color: #EF8743;
  box-shadow: 0 0 5px #EF8743;
}


#fale-comigo button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#fale-comigo button:hover {
  background-color: #45a049;
}


#contato h3 {
  font-family: cursive;
  color: #87a819;
  margin-bottom: 25px;
}



/* RESPONSIVIDADE */

/*CONTATO*/
@media (max-width: 770px) {
  #contato {
    padding-bottom: 10px;
  }

}

/*SLIDER IMAGENS TEXTO*/
@media(max-width: 548px) {
  .slide-content h1 {
    text-align: center;
    font-size: 2.5rem;
  }

  .slide-content p {
    letter-spacing: normal;
    font-size: 1.1rem;
  }

  .slide-content button {

    font-size: 1rem;
  }
}

/*CARD */

@media(max-width: 1200px) {
  .card {
    height: 500px;
  }

}

@media(max-width:990px) {

  .card-text {
    letter-spacing: 0.2px;
  }
}

/*RESPONSIVIDADE SERVIÇOS*/
@media(max-width:360px) {
  .servicos-section h1 {
    margin-top: 20px;
  }

  .servicos-content p {
    margin-top: 30px;
  }


}

/*FALE COMIGO*/

@media(max-width:410px) {
  .container-fale h1 {
    margin-top: 100px;
    font-size: 1.8rem;

  }

}

@media(max-width:390px) {
  .fale-caixa {
    margin-bottom: 50px;
  }

}